.form_item {
	display: inline-block;
	margin: 0 1em;
}

.form_item label {
	display: inline-block;
	width: 16em;
}

.form_item input {
	width: 4em;
}

.form_item input[type=submit] {
	width: 6em;
}

div#chart {
	margin: 1em 1em 0;
}

div#chart.loading {
	opacity: 0.3;
}

div#link {
	margin: 1em 1em 0;
}
